#text-content {
    padding: 4%;
    padding-top: 8%;
    text-align: justify;
}

.indent {
    text-indent: 2%;
}

#text-content img {
    display: block;
    width:200vh;
    margin-left: auto; 
    margin-right: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

section {
    padding-top:2%;
}
