

#main {
  background-image: url("images/comics_background.jpg");
  background-size: 100%;
  cursor:url("images/michey_hand.png") 2 2, auto;
 
 
}



#text-content {
    font-family: VTC Letterer Pro;
    font-size: 10pt;  /* For full-size comic books (6.625” x 10.187” trim), most creators use a 9.5 or 10-point size.*/
    text-align: justify;
    background: #fff;
    width:80%;
    padding: 0.5in;
    margin: 2%;
    border: 3px solid black;
    position: relative;
    overflow-x: scroll;
    overflow-y: scroll;

}


#text-content h1, #text-content h3 {
	font-family:BadaBoom BB;
	text-align: center;
	font-weight: 400;
	letter-spacing: 4pt;
}

#text-content h4 {
    font-family:BadaBoom BB;
    font-weight: 400;
	letter-spacing: 4pt;
}
#text-content h1{
	font-size: 50pt;
    font-size: 5em;
    font-weight: 900;
    line-height: 1;
    padding-bottom: 1em;
}

#text-content h1:hover, #text-content h3:hover, .close:hover {
  animation: text-shadow 1.5s ease-in-out infinite;
}

@keyframes text-shadow {
    0%{  
        transform: translateY(0) translateX(0);
        text-shadow: 
            0 0 0 #0000FF, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    50% {  
        transform: translateY(-0.3em) translateX(-0.5em);
        text-shadow: 
            -0.075em -0.075em 0 #0c2ffb, 
            -0.145em -0.145em 0 #fb203b, 
            -0.215em -0.215em 0 #fefc4b;
    }

    100% {  
        transform: translateY(0) translateX(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}


#text-content h3 {
	font-size: 35pt;
}

#text-content h4 {
    font-size: 20pt;
}

#text-content {
    text-indent: 2%;
}


#text-content img {
  width: 100%; /* or any custom size */
  height: 100%; 
  object-fit: contain;
  cursor: url('images/mickey_pointer.png') 2 2, auto;
  border: 3px solid black;
  padding: 1em;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 60px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid rgb(104, 103, 103);
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  font-size: 50pt;
  font-weight: 1000;
  
}

/* Close button on hover */
.close:hover, .close:focus{
  cursor: url('images/mickey_pointer.png') 2 2, auto;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px){
  span.psw {
     display: block;
     float: none;
}
}

.electric-bubble{
  min-height: 50em;
  max-height: 50em;
  min-width:68em;
  max-width: 68em;
  background-image: url("images/comic_cloud.png");
  background-repeat: no-repeat;
  border: 3px solid black;
  -webkit-background-size: cover;
  background-size: contain;
  position: relative;
}


.electric-bubble div {
  min-width: 70em;
  max-width: 70em;
  min-height: 20em;
  max-height: 20em;
  margin-top: 23.5%;
  margin-bottom: 23.6%;
  padding-right:15%;
  padding-left:13%;
  font-weight: 3000;
  text-align: center;
  display: block;
  position: absolute;
}


#authors {
  background-image: url("images/yellow_tag.png");
  background-size: 50em 5em;
  padding-left: 20em;
  height: 5em;
  width:50em;
  margin-top:-1.5em;
  object-fit: contain;
  position: absolute;
  z-index: +1;
}

#authors p {
  width:40em;
  margin-left: -15em;
  padding-top: 1em;

}
/*comic cloud */
.footnote {
	position: relative;
	width: 10%;
	text-align: center;
	line-height: 1.4em;
	margin: 40px auto;
	background-color: #fff;
	border: 8px solid #333;
	border-radius: 30px;
	padding: 20px;
	font-size: large;
}
span.footnote {
	width: 300px;
	border-radius: 200px;
	padding: 30px;
}

span.footnote:before,
span.footnote:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: 10px;
	bottom: -30px;
	width: 40px;
	height: 40px;
	background-color: #fff;
	border: 8px solid #333;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
}

span.footnote:after {
	width: 20px;
	height: 20px;
	left: 5px;
	bottom: -40px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}

/*buttons*/
sup button {
	font-family: VTC Letterer Pro;
	font-size:25px;
	width:50px;
	height: 20px;
	background-color: yellow;
	box-shadow: 5px 5px #333;
	cursor: pointer;

}


/*footer*/

footer {
    background-color: #669999;
    text-align: center;
}


/*FAB*/
.fab-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    user-select: none;
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    cursor: url('images/mickey_pointer.png') 2 2, auto;
  }
  .fab-container:hover {
    height: 100%;
  }
  .fab-container:hover .sub-button:nth-child(2) {
    transform: translateY(-20vh);
  }
  .fab-container:hover .sub-button:nth-child(3) {
    transform: translateY(-40vh);
  }
  .fab-container:hover .sub-button:nth-child(4) {
    bottom: 1vh;
    transform: translateX(-17vh);
  }
  
  .fab-container .fab {
    position: relative;
    height: 17vh;
    width: 17vh;
    border-radius: 50%;
    z-index: 2;
  }
  .fab-container .fab::before {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 8vh;
    width: 7vh;
    background-color:inherit;
    border-radius: 0 0 10px 0;
    z-index: -1;
  }
  .fab-container .fab .fab-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  
  .fab-container .sub-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    height: 17vh;
    width: 17vh;
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  .fab-container .sub-button:hover {
    cursor: url('images/mickey_pointer.png') 2 2, auto;
  }
  .fab-container .sub-button .material-icons {
    padding-top: 6px;
  }
  
  .fab-content img{
      height: 12vh;
  }
  
  .sub-button:nth-child(3) img {
      height: 10vh;
  }
  
  
  
  .sub-button:nth-child(4) img{
      height: 8vh !important;
  }
  
  
  .sub-button:nth-child(4){
      height: 10vh !important;
      width: 10vh !important;
      right: 3vh !important;
  }
  
  .fab-container:hover .sub-button:nth-child(4):hover{
      background-color: #97cfa9 !important;
  }
    
  
  .fab-content, .fab-shadow, .sub-button, .fab{
    background-color: #369656;
  }
  