
body {
    font-family: VTC Letterer Pro;
    font-size: 15pt;  /* For full-size comic books (6.625” x 10.187” trim), most creators use a 9.5 or 10-point size.*/
    text-align: justify;
    background-image: url("images/comics_background.jpg");
    background-size: 100% ;
}

body h1, body h3 {
	font-family:BadaBoom BB;
	text-align: center;
	font-weight: 400;
	letter-spacing: 4pt;
}

body h4 {
    font-family:BadaBoom BB;
    font-weight: 400;
	letter-spacing: 4pt;
}
body h1 {
	font-size: 50pt;
    text-shadow: rgb(227 6 19 / 80%) -4.9px 3.32981px, rgb(255 237 0) -3.26667px 8.8795px, rgb(3 37 126 / 80%) 3.32981px -4.9px;
}

body h3 {
	font-size: 35pt;
}

body h4 {
    font-size: 20pt;
}


#text-content {
    padding: 4%;
    padding-top: 8%;
    text-align: justify; 
    background-color: white;
}

.indent {
    text-indent: 2%;
}
#text-content img {
    display: block;
    width:200vh;
    margin-left: auto; 
    margin-right: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

/*comic cloud */
.footnote {
	position: relative;
	width: 10%;
	text-align: center;
	line-height: 1.4em;
	margin: 40px auto;
	background-color: #fff;
	border: 8px solid #333;
	border-radius: 30px;
	padding: 20px;
	font-size: large;
}
span.footnote {
	width: 300px;
	border-radius: 200px;
	padding: 30px;
}

span.footnote:before,
span.footnote:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: 10px;
	bottom: -30px;
	width: 40px;
	height: 40px;
	background-color: #fff;
	border: 8px solid #333;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
}

span.footnote:after {
	width: 20px;
	height: 20px;
	left: 5px;
	bottom: -40px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}

/*buttons*/
sup button {
	font-family: VTC Letterer Pro;
	font-size:25px;
	width:50px;
	height: 20px;
	background-color: yellow;
	box-shadow: 5px 5px #333;
	cursor: pointer;

}


/*footer*/

footer {
    background-color: #669999;
    text-align: center;
}


/*FAB*/
.fab-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    user-select: none;
    position: fixed;
    bottom: 5vh;
    right: 5vh;
  }
  .fab-container:hover {
    height: 100%;
  }
  .fab-container:hover .sub-button:nth-child(2) {
    transform: translateY(-20vh);
  }
  .fab-container:hover .sub-button:nth-child(3) {
    transform: translateY(-40vh);
  }
  .fab-container:hover .sub-button:nth-child(4) {
    bottom: 1vh;
    transform: translateX(-17vh);
  }
  
  .fab-container .fab {
    position: relative;
    height: 17vh;
    width: 17vh;
    border-radius: 50%;
    z-index: 2;
  }
  .fab-container .fab::before {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 8vh;
    width: 7vh;
    background-color:inherit;
    border-radius: 0 0 10px 0;
    z-index: -1;
  }
  .fab-container .fab .fab-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  
  .fab-container .sub-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    height: 17vh;
    width: 17vh;
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  .fab-container .sub-button:hover {
    cursor: pointer;
  }
  .fab-container .sub-button .material-icons {
    padding-top: 6px;
  }
  
  .fab-content img{
      height: 12vh;
  }
  
  .sub-button:nth-child(3) img {
      height: 10vh;
  }
  
  
  
  .sub-button:nth-child(4) img{
      height: 8vh !important;
  }
  
  
  .sub-button:nth-child(4){
      height: 10vh !important;
      width: 10vh !important;
      right: 3vh !important;
  }
  
  .fab-container:hover .sub-button:nth-child(4):hover{
      background-color: #97cfa9 !important;
  }
    
  
  .fab-content, .fab-shadow, .sub-button, .fab{
    background-color: #369656;
  }
  